<span><h1 style="font-family:verdana;"><center>Multivariate Linear Regression</center></h1></span>
<p><center style="color:#159364; font-family:cursive;">Linear Regression with Multiple Variables</center></p>

***

 <center><h2> Multivariate Linear Regression Equation: <code>y = m<sub>1</sub>*X<sub>1</sub> + m<sub>2</sub>*X<sub>2</sub> + m<sub>3</sub>*X<sub>3</sub>+ ... m<sub>n</sub>*X<sub>n</sub>+ c</code></h2></center>

<h3 style="color:purple">Problem:</h3>
<p>There is a simple problem, predicting the price of home based on area, bedroom, and area. According to this situation the equation for Linear Regression would become:</p>

<img src="equation.jpg" alt="Multivariate Linear Regression Equation">

In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [10]:
df = pd.read_csv('homeprices.csv')
df.head(10)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000
6  4092       3.0   13  617626
7  3575       4.0   19  600067
8  3297       6.0   12  564921
9  2601       6.0   18  572243